body {
  margin: 0px;
  padding: 0px;
}
a {
  text-decoration: none;
  color: rgb(0, 0, 0);
  font-size: 25px;
  font-family: Arial, Helvetica, sans-serif;
  font-weight: 300;
}
ul li a{
  color: white;
    font-size: 15px;

}
ul li a:hover{
  text-decoration: underline;
}
ul {
  display: flex;
  justify-content: space-around;
  list-style: none;
}
li {
  margin-left: 10px;
}
h4 {
  color: white;
  padding: 5px;
  margin: 5px;
  font-family: Arial, Helvetica, sans-serif;
  font-size: 15px;
  font-weight: 600;
}

h5 {
  color: white;
  font-size: 30px;
  font-family: Arial, Helvetica, sans-serif;
  font-weight: 300;
  margin: 0px;
  text-align: center;
  padding: 30px;
  text-align: center;
}
h1 {
  color: white;
  font-size: 50px;
  font-family: Arial, Helvetica, sans-serif;
  margin: 0;
  text-align: center;
}

h2{
  color: rgb(0, 0, 0);
  font-size: 25px;
  font-family: Arial, Helvetica, sans-serif;
  text-align: center;
  margin-top: 100px;
  padding-right: 70px;
}

button{
  background-color: rgb(0, 0, 0);
  color: white;
  font-family: Arial, Helvetica, sans-serif;
  font-weight: 500px;
  font-size: 25px;
  padding: 5px 10px;
  border-radius: 20px;
  border: none;
}

#mm{
  background-color: rgba(255, 255, 255, 0.623); 
  width: 100%;
  position: absolute;
   top:9%;
   right: 0;
   z-index: 3;
   margin-top: 0;
   display: none;
   justify-content: flex-start;
   flex-direction: column;
   padding: 10px 5px;
   animation: slideInDown 0.5s ease-in-out;
  }
#mm button{
  color: white;
  background-color: rgba(0, 0, 0, 0.496);
}
#mm button:hover{
  color: black;
}

#view{
  opacity: 0;
  transform: translateY(100px);
}

#view.show{
  transform: translateY(0);
  opacity: 1;
  transition: 1s ease-in;
}


#view2{
  opacity: 0;
  transform: translateX(100px);
}

#view2.show{
  transform: translateX(0);
  opacity: 1;
  transition: 1s ease-in;
}

@media screen and (max-width:700px){
  button{  
    font-size: 15px;
    font-weight: 100;
    padding: 5px;
  }

}
@keyframes slideInDown {
  0% {
    transform: translateY(-10%);
    opacity: 0;
  }
  100% {
    transform: translateY(0);
    opacity: 1;
  }
}
@media screen and (max-width:1101px){
  #mm{
    top: 15%;
  }
  #mm button{
    font-size: 17px;
  }
}